<style>
  .learning_pathways{{ section.id }}{
    padding-top: {{ section.settings.p_t }}px;
    padding-bottom: {{ section.settings.p_b }}px;
  }
  @media screen and (max-width: 600px) {
    .learning_pathways{{ section.id }}{
      padding-top: {{ section.settings.m_p_t }}px;
      padding-bottom: {{ section.settings.m_p_b }}px;
    }
  }
  .learning_pathways .sub-title,
  .learning_pathways .h2,
  .learning_pathways .normal{
    text-align: center;
  }
  .learning_pathways .h2{
    text-transform: capitalize;
    margin-top: 6px;
    margin-bottom: 20px;
  }
  .learning_pathways .normal{
    margin-bottom: 30px;
  }
  
  .learn_path-text_block{
    max-width: 980px;
    margin: 0 auto;
  }
  .learn_path-image_block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .block_frame{
    max-width: 270px;
    }
  .learn_path-blocks{
    position: relative;
    top: -74px;
    max-width: 1487px;
    margin: 0 auto;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .learn_path-block{
    position: relative;
  }
  .block_frame img{
    width: 100%;
  }
  .block_icon{
    position: absolute;
    top: 36px;
    left: 36px;
  }
  .block_icon svg,
  .block_icon img{
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .block-text_block{
    margin-top: 30px;
    max-width: 200px;
    text-align: center;
    position: relative;
    left: -24px;
  }
  .block-text_block .thin{
    text-align: center;
    max-width: 130px;
    margin: 0 auto;
  }
  .image_mobile{
      display: none;
  }
  .separate_block{
    display: none;
    margin-top: 12px;
    text-align: center;
  }
  .numeration{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    width: 25px;
    height: 25px;
    background: #FEB834;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    bottom: 142px;
    left: 34px;
  }
  .learn_path-block:last-child .numeration{
    bottom: 96px;
  }
  .numeration{
    display: none;
  }
  @media screen and (max-width: 1490px) {
    .learn_path-blocks{
      padding-left: 30px;
      padding-right: 30px;
    }
    
  }
  @media screen and (max-width: 600px) {
    .learn_path-text_block{
      padding-left: 30px;
      padding-right: 30px;
    }
    
    .numeration{
      display: flex;
    }
    .block-text_block{
    margin-top: 0px;
    }
    .image_pc{
      display: none;
    }
    .image_mobile{
      display: block;
    }
    
    .block-text_block{
      max-width: none;
      left: 0px;
    }
    .learn_path-blocks{
    top: 0;
    }
    .separate_block{
    display: block;
    }
    .learn_path-block:last-child .separate_block{
      display: none;
    }
    
  }
  @media screen and (max-width: 380px) {
    .block_frame{
    max-width: 250px;
    }
    .block_icon {
    position: absolute;
    top: 31px;
    left: 31px;
  }
  }
  @media screen and (max-width: 350px) {
    .block_frame{
    max-width: 220px;
    }
    .block_icon svg, .block_icon img {
    width: 58px;
    height: 58px;
    object-fit: cover;

  }
  .block_icon {
    position: absolute;
    top: 32px;
    left: 32px;
  }
  }
  
</style>

<div class="learning_pathways learning_pathways{{ section.id }}">
    <div class="learning_pathways_container page-width">
      <div class="learn_path-text_block">
        <div class="sub-title">
          your progression path
        </div>
        <h2 class="h2">
          Learning Pathways
        </h2>
        <div class="normal">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>
      </div>
      <div class="learn_path-image_block image_pc">
        {% if section.settings.image != blank %}
          {{ section.settings.image | image_url: width: 3840
          | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths }}
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="learn_path-image_block image_mobile">
        {% if section.settings.image_mb != blank %}
          {{ section.settings.image_mb | image_url: width: 3840
          | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths }}
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="learn_path-blocks">
        {% for block in section.blocks %}
        <div class="learn_path-block">
          <div class="block_frame">
            <img src="{{ 'frame.png' | asset_url }}">
          </div>
          <div class="block_icon">
            {% if block.settings.image != blank %}
              {{ block.settings.image | image_url: width: 3840
              | image_tag:
              loading: 'lazy'}}
            {% else %}
              {{ 'product-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          <div class="numeration">
            {% if forloop.index != section.blocks.size %}
              {{forloop.index}}
              {% else %}
              <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.1259 1.39981L7.73387 10.4584C7.70997 10.5109 7.67561 10.5582 7.63282 10.5975C7.59003 10.6368 7.53967 10.6673 7.4847 10.6872C7.42974 10.7071 7.37127 10.7159 7.31276 10.7133C7.25424 10.7107 7.19685 10.6966 7.14397 10.6718C7.09109 10.6471 7.04378 10.6122 7.00483 10.5692C6.96588 10.5262 6.93608 10.4761 6.91718 10.4216C6.89827 10.3671 6.89065 10.3095 6.89476 10.2521C6.89887 10.1948 6.91463 10.1387 6.94111 10.0874L8.52444 6.82202H1.18862C1.10321 6.82207 1.01962 6.79766 0.948116 6.75178C0.876607 6.70589 0.820274 6.64052 0.786015 6.56367C0.751757 6.48682 0.741058 6.40182 0.755231 6.31909C0.769403 6.23636 0.807831 6.15948 0.86581 6.09787L3.20238 3.61215L0.891613 1.53245C0.82631 1.47372 0.780608 1.39697 0.760499 1.31228C0.740391 1.22759 0.746816 1.13891 0.778932 1.05786C0.811048 0.976821 0.867354 0.907205 0.940466 0.858147C1.01358 0.809089 1.10008 0.782881 1.18862 0.782959H11.7295C11.8037 0.782983 11.8766 0.80144 11.9415 0.83661C12.0064 0.87178 12.0612 0.922518 12.1008 0.984097C12.1404 1.04568 12.1634 1.11609 12.1678 1.18878C12.1722 1.26147 12.1578 1.33407 12.1259 1.39981Z" fill="white"/>
                </svg>                
            {% endif %}
          </div>
          <div class="block-text_block">
            <div class="h3">
              {{ block.settings.title }}
            </div>
            <div class="thin">
              {{ block.settings.text }}
            </div>
          </div>
          <div class="separate_block">
            <svg width="2" height="26" viewBox="0 0 2 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L0.999999 25" stroke="#FEB834" stroke-width="2" stroke-linecap="round"/>
              </svg>            
          </div>
        </div>
        
        {% endfor %}
      </div>
    </div>
</div>

{% schema %}
{
  "name": "Learning Pathway",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "Image for mobile"
    },
    {
      "type": "range",
      "id": "p_t",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Space top"
    },
    {
      "type": "range",
      "id": "p_b",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Space bottom"
    },
    {
      "type": "range",
      "id": "m_p_t",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Space top for mobile"
    },
    {
      "type": "range",
      "id": "m_p_b",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px",
      "label": "Space bottom for mobile"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-banner.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Compliance"
        },
        {
          "type": "text",
          "id": "text",
          "label": "text",
          "default": "Specialist"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Learning Pathway"
    }
  ]
}
{% endschema %}